In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='whitegrid')
sns.plotting_context(context='paper')
sns.set_palette('rainbow')

import pickle
import pandas as pd

In [2]:
sales = pd.read_csv('../../../data/mckinsey/sales.csv', index_col='ID')
skus = pd.read_csv('../../../data/mckinsey/sku.csv', index_col='SKU')
geo_params = pd.read_csv('../../../data/mckinsey/geo_params.csv', index_col='geoCluster')

sales = sales.join(skus, on='SKU')
sales = sales.join(geo_params, on='geoCluster')

sales['date'] = pd.to_datetime(sales['date'])

In [17]:
sales.groupby(['cityId', 'Group'])['sales']

,geoCluster,SKU,date,price,sales,Category,Type,brandId,lagerUnitQuantity,Units,trademark,countryOfOrigin,Group,cityId
ID,,,,,,,,,,,,,,
RR27956459,92,32485,2021-07-05,38.29,4.0,Banana,Banana — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
RR27956474,92,32549,2021-07-05,89.39,0.5,Grapefruit,Citrus fruit — Grapefruit — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
RR27956489,112,32485,2021-05-27,45.39,3.7,Banana,Banana — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
RR27956490,112,32485,2021-05-28,NaN,NaN,Banana,Banana — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
RR27956491,112,32485,2021-05-29,NaN,NaN,Banana,Banana — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RR27962261,954,32550,2021-07-01,NaN,NaN,Lemon,Citrus fruit — Lemon — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
RR27962262,954,32550,2021-07-02,NaN,NaN,Lemon,Citrus fruit — Lemon — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
RR27962263,954,32550,2021-07-03,NaN,NaN,Lemon,Citrus fruit — Lemon — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
RR27962264,954,32550,2021-07-04,NaN,NaN,Lemon,Citrus fruit — Lemon — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1
RR27962265,954,32550,2021-07-05,NaN,NaN,Lemon,Citrus fruit — Lemon — Plain,NaN,1.0,NaN,NaN,NaN,Tropical fruits,1